header{
	background-color:#FFA500;
}
.navbar{
	margin-bottom: 0px;
	margin:0;
}

.container-fluid{
	background-color:white;
	height: 100%;
	font-size: 20px;
}
.container div{
	padding-top: 10px;
}

.container-fluid li{
	padding-top: 5px;
}
.container-fluid img{
	height: 60px;
}



/*conteudo*/

#first{
	padding:20px;
	text-align: center;
}

.item{
	margin-top:10px;
	font-size: 20px;
	border-radius: 10px;
	border:black 1px solid;
	animation-duration: 3s;
  	animation-name: slidein;

}

.item:hover{
	box-shadow: 5px 5px 5px #888888;
	transform-origin: bottom left;
	
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
